<html>
  <head>
  </head>
  <body>
    <form action='/login' method='post'>
      <label> 
          username:
          <input type="text" name="username"><br>
          </input>
      </label>

      <label> 
          password:
          <input type="password" name="password">
          </input>
      </label>
      <input type="submit",value="login">
    </form>
  </body>

</html>
