<div>
<form action='/search', method='post'>
  <label>
    username:
      <input type="text" name="username"><br>
      </input>
  </label>
      <input type="submit",value="login">
</form>
</form>
  <a href='/logout'>logout</a>
</div>
<% if @totals %>
  <div>
    <table>
      <thead>
        <tr>
          <td>
            <h3>Language<h3>
          </td>
          <td>
            <h3>Percent<h3>
          </td>
        </tr>
      </thead>
      <% @totals.each do |lang,ammount| %>
        <tr>
            <td>
              <%= lang %>
            </td>
            <td>
              <%= ammount %> %
            </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
